<ion-view view-title="文章列表" hide-footer="true">
        <div class="sp-nav" id="sp-nav-2">
          <div class="category_area">
            <div class="category_title">
              <i class="iconfont icon-iconfontlicaishi"></i> 分类
            </div>
            <ul class="category_list">
              <li class="category_item" ng-click="$spMenu.toggle('sp-nav-2')" search-by-category current='pageDatas.currentCateId' category-id='9999' req-options = 'articleListReqOptions' target-datas = 'pageDatas.articleList' ng-class="{current_item:pageDatas.currentCateId == 9999}">
                全部
              </li>
              <li class="category_item" ng-click="$spMenu.toggle('sp-nav-2')" ng-repeat="category in pageDatas.categoryList.list | articleCatFilter" search-by-category current='pageDatas.currentCateId' category-id='{{category.categoryid}}' req-options = 'articleListReqOptions' target-datas = 'pageDatas.articleList' ng-class="{current_item:pageDatas.currentCateId == category.categoryid}">
                {{category.categoryname}}
              </li>
            </ul>
          </div>
        </div>
        <div class="article_body sp-page">
          <div class="searchHeader">
            <div class="categorySearch" ng-click="$spMenu.toggle('sp-nav-2')" >
              <i class="iconfont icon-iconfontliebiao"></i>
            </div>
            <div class="searchGroup">
              <div class="wrap">
                <div class="search_inp">
                  <input type="text" ng-model="keyword">
                </div>
                <div class="search_btn" search-by-keyword  keyword ='keyword' req-options = 'articleListReqOptions' target-datas = 'pageDatas.articleList'>
                  <i class="iconfont icon-iconfontsousuo" ></i>
                </div>
              </div>
            </div>
          </div>
          <div class="list article_list">
              <a 
              class="item" 
              ng-repeat="article in pageDatas.articleList.list | articleFilter" 
              ui-sref="article_single({newsid:article.newsid})"
              >
              <!-- ng-click="details(article.newsid)" -->
                  <div class="article_context item-text-wrap">
                      <div class="article_title">
                          {{article.title}}
                      </div>
                      <div class="article_rels">
                          <div class="tag categoryname" ng-show="article.categoryname">
                              {{article.categoryname}}
                          </div>
                          <div class="tag pv" ng-show="article.pv">
                              <i class="iconfont icon-iconfontchakan" ></i> {{article.pv}}
                          </div>
                          <div class="article_date">
                              {{article.time | date : 'yyyy-MM-dd'}}
                          </div>
                      </div>
                      <div class="article_details">
                          {{article.digest}}
                      </div>
                  </div>
              </a>
          </div>
          <div class="loading_area" ng-show="loading_show">
            <img src="images/loading.gif" alt=""/>
          </div>
          <div class="load_box" ng-show="pageDatas.articleList.list != undefined && !isOver && !loading_show">
            <div class="loadmore" add-more-list req-options = 'articleListReqOptions' target-datas = 'pageDatas.articleList'  is-over="isOver" loading-show="loading_show">
              加载更多
            </div>
          </div>
        </div>
</ion-view>
