<ion-view view-title="首页" hide-footer="false">
    <ion-content>
        <div class="index_body">
            <div class="func_nav row">
                <a class="func_item col col-33" nav-direction="forward" ng-click="goItem('licaishi_list','all')">
                    <div class="item_logo lcs">
                        <i class="iconfont icon-iconfontlicaishi"></i>
                    </div>
                    <div class="item_title">
                        理财师
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/lcs" >
                    <div class="item_logo lcspx">
                        <i class="iconfont icon-iconfontlicaishipingxuan"></i>
                    </div>
                    <div class="item_title">
                        理财师评选
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/activity_list/all">
                    <div class="item_logo hd">
                        <i class="iconfont icon-iconfonthuodong"></i>
                    </div>
                    <div class="item_title">
                        活动
                    </div>
                </a>
            </div>
            <div class="func_nav row">
                <!-- <a class="func_item col col-33" nav-direction="forward" href="#/jfsc"> -->
                <a class="func_item col col-33" nav-direction="forward" href="http://forbes.comeoncloud.net/App/Cation/Wap/Mall/ScoreMall.aspx">
                    <div class="item_logo jfsc">
                        <i class="iconfont icon-iconfontshangcheng"></i>
                    </div>
                    <div class="item_title">
                        积分商城
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/article_list">
                    <div class="item_logo zx">
                        <i class="iconfont icon-iconfontzixun"></i>
                    </div>
                    <div class="item_title">
                        资讯
                    </div>
                </a>
                <a class="func_item col col-33" nav-direction="forward" href="#/wd_list/all">
                    <div class="item_logo ht">
                        <i class="iconfont icon-iconfonthuati1"></i>
                    </div>
                    <div class="item_title">
                        话题
                    </div>
                </a>
            </div>
            <div class="img_slider">
                <ion-slide-box class="img_slider_box">
                    <ion-slide ng-repeat="sliderImg in sliderImgs.list">
                        <a class="box" ng-href="{{sliderImg.link}}">
                            <img ng-src="{{sliderImg.imgurl}}" />
                        </a>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="latest_news">
                <div class="list">
                    <div class="item1 row" ng-repeat="msg in msgList.list">
                        <div class="col col-20 news_head">
                            <div class="head_img">
                                <img ng-src="{{msg.imgurl}}" />
                            </div>
                        </div>
                        <div class="col col-80 news_body">
                            <div class="news_main">
                                <div class="news_type">
                                    {{msg.type | msgTypeFilter}}
                                </div>
                                <div class="news_time">
                                    {{msg.time | date : 'yyyy年MM月dd日 HH:mm' }}
                                </div>
                                
                                <div class="news_context item-text-wrap news_activity" ng-click="news_redirect(msg.id,msg.type)">
                                    <div class="news_title">
                                        {{msg.newstitle}}
                                        {{msg.activityname}}
                                        {{msg.asktitle}}
                                    </div>
                                    <div class="news_cont" ng-if="msg.type == 1">时间:{{msg.activitytime | date : 'yyyy年MM月dd日 HH:mm:ss'}}</div>
                                    <div class="news_cont" ng-if="msg.type == 1">地点:{{msg.activityaddress}}</div>

                                    <div class="news_cont">
                                       {{msg.askcontent}}
                                       {{msg.digest}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading_area" ng-show="loading_show">
                  <img src="images/loading.gif" alt=""/>
                </div>
                <div class="load_box" ng-show="msgList.list != undefined && !isOver && !loading_show">
                  <div class="loadmore" add-more-list req-options = 'msgListReqOptions' target-datas = 'msgList'  is-over="isOver" loading-show="loading_show">
                    加载更多
                  </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
