@charset "utf-8";
.default-page-bg-init {
  background-color: #f5f5f5;
  overflow: auto;
  height: 100%;
  min-height: 100vh;
}
.default-small-text {
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  color: rgba(70, 66, 66, 0.49);
}
.category_area {
  background-color: #37363b;
  height: 100%;
  color: white;
}
.category_area .category_title {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  text-align: center;
  color: #ffab24;
}
.category_area .category_title .iconfont {
  font-size: 25px;
}
.category_area .category_list .category_item {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid rgba(120, 120, 120, 0.68);
}
.category_area .current_item {
  background: #2d2c30;
  border-bottom: 1px solid #2d2c30 !important;
}
.tag {
  border-radius: 5px;
  padding: 0px 8px;
  margin-right: 5px;
  float: left;
  font-size: 10px;
  color: white;
}
.tag i {
  font-size: 10px;
}
.pv {
  background-color: rgba(236, 120, 58, 0.64);
}
.signcount {
  background-color: rgba(0, 105, 236, 0.64);
}
.zan {
  background-color: rgba(0, 105, 236, 0.64);
}
.zhuanfa {
  background-color: rgba(31, 185, 112, 0.75);
}
.categoryname {
  background-color: #8d93cd;
  float: left;
}
a,
a:visited {
  text-decoration: none;
  color: #000000;
}
.searchHeader {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 12px;
}
.searchHeader .categorySearch {
  position: relative;
  width: 10%;
  min-width: 35px;
  height: 100%;
  padding-top: 15px;
  float: left;
  text-align: left;
}
.searchHeader .categorySearch .iconfont {
  font-size: 30px;
  color: #17a57d;
}
.searchHeader .categorySearch .category_list {
  position: absolute;
  z-index: 999;
  width: 100px;
  color: blueviolet;
  background-color: rgba(220, 207, 24, 0.98);
}
.searchHeader .searchGroup {
  float: right;
  width: 85%;
  height: 100%;
}
.searchHeader .searchGroup .wrap {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 1px solid #17a57d;
  border-radius: 8px;
  padding: 0;
}
.searchHeader .searchGroup .wrap .search_inp {
  width: 80%;
  float: left;
  height: 100%;
  padding: 0 5px;
  border-radius: 8px 0 0 8px;
  background-color: white;
}
.searchHeader .searchGroup .wrap .search_inp input {
  width: 100%;
  height: 90%;
  margin-top: 1px;
}
.searchHeader .searchGroup .wrap .search_btn {
  width: 20%;
  float: right;
  height: 38px;
  line-height: 38px;
  border-radius: 0 6px 6px 0;
  background-color: #17a57d;
  text-align: center;
}
.searchHeader .searchGroup .wrap .search_btn .iconfont {
  font-size: 30px;
  color: white;
}
.load_box {
  width: 100%;
  margin: 10px 0;
  background: transparent;
}
.load_box .loadmore {
  width: 60%;
  margin: 0 auto;
  background-color: #17a57d;
  color: white;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
}
.operate_msg {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  background-color: rgba(25, 25, 31, 0.49);
  z-index: 9999;
}
.loading_area {
  background: transparent;
  width: 100%;
  margin: 8px 0;
  text-align: center;
}
.licaishi_body {
  background-color: #f5f5f5;
  overflow: auto;
  height: 100%;
  min-height: 100vh;
}
.licaishi_body .licaishi_list {
  margin: 0 10px;
  padding: 0;
}
.licaishi_body .licaishi_list .item {
  height: 130px;
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.licaishi_body .licaishi_list .item .person_head {
  width: 20%;
  float: left;
}
.licaishi_body .licaishi_list .item .person_head .head_img {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.licaishi_body .licaishi_list .item .person_head .head_img img {
  position: absolute;
  max-width: 100%;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.licaishi_body .licaishi_list .item .person_head .head_img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}
.licaishi_body .licaishi_list .item .licaishi_context {
  padding: 5px 0;
  float: left;
  width: 80%;
}
.licaishi_body .licaishi_list .item .licaishi_context .licaishi_title {
  font-size: 20px;
  font-weight: 600;
}
.licaishi_body .licaishi_list .item .licaishi_context .licaishi_details {
  width: 100%;
  float: left;
  margin: 5px 0;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  color: rgba(70, 66, 66, 0.49);
}
.licaishi_body .licaishi_list .item .licaishi_rels {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.licaishi_body .licaishi_list .item .licaishi_tags {
  clear: both;
  float: left;
  margin-top: 5px;
}
.licaishi_body .licaishi_list .item .guanzhu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px 0 0 0;
  text-align: center;
  background-color: rgba(75, 165, 255, 0.75);
  color: white;
}
.licaishi_body .licaishi_list .item:last-child {
  margin-bottom: 0;
}